<section class="section section--text-centered" data-section-id="{{ section.id }}" data-section-type="video">
  <div class="container">
    {%- if section.settings.title != blank -%}
      <h2 class="heading h3">{{ section.settings.title | escape }}</h2>
    {%- endif -%}

    <div class="video-item" data-action="play-video">
      <div class="video-wrapper">
        <div class="video-wrapper__image-wrapper">
          {%- if section.settings.image -%}
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1200', image: section.settings.image -%}{%- endcapture -%}
            {%- assign image_url = section.settings.image | image_url: width: 800 -%}

            <img class="video-wrapper__image image--fade-in" src="{{ image_url }}" alt="{{ section.settings.image.alt | escape }}" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" loading="lazy">

            <noscript>
              <img class="video-wrapper__image" src="{{ section.settings.image | image_url: width: 800 }}" alt="{{ section.settings.image.alt | escape }}" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}">
            </noscript>
          {%- elsif bsectionlock.settings.video_url.type == 'youtube' -%}
            <img class="video-wrapper__image image--fade-in" src="https://img.youtube.com/vi/{{ section.settings.video_url.id }}/maxresdefault.jpg" alt="YouTube video thumbnail" width="1280" height="720" loading="lazy">
          {%- else -%}
            <div class="placeholder-background">
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}

          {% render 'icon', icon: 'play' %}
        </div>

        {% if section.settings.video_url.type == 'youtube' %}
          <iframe data-src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1&showinfo=0&controls=1&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
        {% elsif section.settings.video_url.type == 'vimeo' %}
          <iframe data-src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&portrait=0&byline=0&color={{ settings.accent_color | remove_first: '#' }}" frameborder="0"></iframe>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Videos"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["vimeo", "youtube"],
      "label": "Video",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 700px .jpg recommended. Used when video is not loaded (required for Vimeo)."
    }
  ],
  "presets": [
    {
      "category": "Video",
      "name": "Video"
    }
  ]
}
{% endschema %}